@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

body {
  display: flex;
  flex-direction: row;
  background-image: url(./raimond-klavins-p31Hn01WBeU-unsplash.jpg);
  background-color: black;
  justify-content: center;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
}

.searchBar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: rgb(219, 138, 62);
  background: rgb(185, 38, 19);
  border-radius: 8px;
  border-style: double;
  padding: 20px;
  margin-top: 200px;

  width: 100%;
}
input {
  border-radius: 9px;
  width: 400px;
  height: 45px;
  border: none;
}
button {
  background-color: cadetblue;
  width: 100px;
  height: 40px;
  border-radius: 8px;
  color: beige;
  font-size: large;
  margin-top: 10px;
}
.moviesBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}
.movieContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: rgba(51, 41, 41, 0.685);
  border-style: solid thin;
  height: 400px;
  width: 250px;
  margin: 20px;
  padding: 20px;
  color: antiquewhite;
}
.img {
  border-radius: 8px;
}
