.container { 
    position: relative;
    
    
}
.text {
    font-family: Arial;
    font-size: 35;
    color: white;
    position: absolute;
    text-align: center;
    top: 100px;
    left: 200px;
}
.header{

    position: fixed;
    top: 0;
    padding: 20px;
    background-color: black;
    width: 100%;
}

.image { 
    position: relative;
}