body {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  font-family: "Open Sans Condensed", sans-serif;
  font-size: large;
}
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: xx-large;
  height: 75%;
  width: 100%;
}
#card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 250px;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  border: solid;
  border-color: #78b3db;
  overflow-wrap: break-word;
}
#card:hover {
  transition-delay: 0.5s;
  width: 25%;
  background-color: #78b3db;
  color: white;
  font-style: bold;
  border-radius: 10px;
  border-color: rgba(205, 240, 123, 0.959);
}

button {
  padding: 0.35em 1.2em;
  background-color: transparent;
  border: 0.1em solid #78b3db;
  margin: 2em;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: x-large;
  color: #78b3db;
  text-align: center;
  transition: all 0.5s;
  height: 5rem;
  width: 25rem;
}
button:hover {
  color: #000000;
  background-color: #ffffff;
}
.dog {
  margin: 0px 0px;
  align-self: flex-start;
}
#userImage {
  border-radius: 50%;
}
#switch {
  display: block;
  justify-content: center;
  align-items: center;
}
.bouncingball {
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 100px;
  width: 100px;
  height: 100px;
  position: absolute;
  animation: ball 3s alternate forwards;
  animation-iteration-count: inherit;
}
@keyframes ball {
  0% {
    top: 20vh;
    left: 0px;
    transform: rotate(9deg);
  }
  25% {
    top: 80vh;
    left: 200px;
    transform: rotate(180deg);
  }
  50% {
    top: 50vh;
    left: 400px;
    transform: rotate(360deg);
  }
  75% {
    top: 100vh;
    left: 400px;
    transform: rotate(0deg);
  }
  100% {
    top: 60vh;
    left: 900px;
    transform: rotate(90deg);
  }
}
